form#purgeall .button-primary {
  margin-bottom: 20px;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.14);
  padding: 15px 30px;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  color: #FFF;
  background: #DD3D36;
  height: auto;
}
form#purgeall .button-primary:hover,
form#purgeall .button-primary:focus {
  background: #d52c24;
}
