version: '3'
services:
  wordpress:
    container_name: wordpress
    image: wordpress:${WP_VERSION}
    restart: always
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DEBUG: ${WORDPRESS_DEBUG}
    ports:
      - 80:80
    volumes:
      - wp_data:/var/www/html
      - ./flush-opcache:/var/www/html/wp-content/plugins/flush-opcache
    healthcheck:
      test: ["CMD", "/bin/bash", "-c", "curl -s -o /dev/null http://localhost"]
      interval: 10s
      timeout: 5s
      retries: 3

  db:
    container_name: db
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: ${WORDPRESS_DB_NAME}
      MYSQL_USER: ${WORDPRESS_DB_USER}
      MYSQL_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${WORDPRESS_DB_PASSWORD}
    volumes:
      - ./db:/var/lib/mysql:rw
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin -u root -pnotsecurepassword ping || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3

  wp-cli:
    container_name: wp-cli
    image: wordpress:cli-php7.4
    user: xfs # id 33 (id of www-data in other wp images)
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DEBUG: ${WORDPRESS_DEBUG}
    volumes:
      - wp_data:/var/www/html
      - ./flush-opcache:/var/www/html/wp-content/plugins/flush-opcache
    command: >
      /bin/bash -c "while !</dev/tcp/db/3306; do sleep 1; done;
      wp core install \
        --url=http://localhost \
        --title=dev \
        --admin_user=admin \
        --admin_password=notsecurepassword \
        --admin_email=nierdz@example.com;
      wp plugin activate flush-opcache"

volumes:
  wp_data:
